@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
	height: 100%;
	width: 100%;
    font-family: "Montserrat", sans-serif;
}

.header {}

.header__container {
    margin: 0 auto;
    max-width: 1110px;
}

.header__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    max-height: 79px;
}

.delivery-info__upper {
    font-weight: 600;
    font-size: 17px;
}

.info-upper1 {
    color: #231F20;
}

.info-upper2 {
    color: #F7D22D;
}

.delivery-info__lower {
    display: flex;
    font-weight: 700;
    font-size: 13px;
    color: #231F20;
}

.info-lower__block1 {
    display: flex;
}

.circle {
    height: 4px;
    width: 4px;
    background: #FF2E65;
    border-radius: 50%;
}

.info-lower__block2 {
    display: flex;
}

.header__upper button {
    height: 42px;
    padding: 7px 27px;
    font-weight: 700;
    font-size: 14px;
    color: #696F7A;
    background-color: #F3F3F7;
    border: none;
    border-radius: 28px;
}

.number {
    font-weight: 700;
    font-size: 26px;
    color: #F7D22D;
}

.header__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    max-height: 42px;
}

.menu {
    display: flex;
    padding: 0px;
    column-gap: 18px;
    list-style: none;
}

.menu a {
    font-weight: 600;
    font-size: 15px;
    color: #0E0C0D;
    text-decoration: none;
}

.header__auth-btn {
    font-weight: 700;
    font-size: 16px;
    color: #696F7A;
    text-decoration: none;
}

.cart-btn {
    height: 42px;
    padding: 7px 25px;
    font-weight: 700;
    font-size: 16px;
    color: #231F20;
    background-color: #F7D22D;
    border: none;
    border-radius: 8px;
}





.swiper {
  width: 1110px;
  height: 100%;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}







.main {}

.main__container {
    margin: 0 auto;
    max-width: 1110px;
}

.novelty {
    margin-top: 71px;
}

.novelty__title {
    font-weight: 700;
    font-size: 24px;
    color: #231F20;
}

.novelty__block {
    display: flex;
    margin-top: 33px;
    column-gap: 30px;
}

.novelty__cart {
    display: flex;
    padding: 14px 17px;
    width: 255px;
    opacity: 100%;
    column-gap: 25px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    background-color: #FFFFFF;
}

.novelty__cart-img {
    max-height: 71px;
    max-width: 71px;
}

.novelty__cart-info {}

.novelty__cart-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.novelty__cart-price {
    margin: 0;
    font-weight: 800;
    font-size: 16px;
    color: #F7D22D;
}



.dishes {
    margin-top: 46px;
}

.dishes__title {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    color: #F7D22D;
}

.dishes__block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    row-gap: 49px;
    column-gap: 29px;
}

.dishes__cart {
    flex: 0 0 calc(25% - 29px); /* 4 карточки в ряд */
}

.dishes__cart-img {}

.dishes__cart-title {
    margin: 0;
    margin-top: 8px;
    font-size: 24px;
    font-weight: 800;
    color: #797979;
}

.dishes__cart-text {
    margin-top: 14px;
    font-size: 13px;
    font-weight: 500;
    color: #686466;
}

.dishes__cart_block-bot {
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.dishes__cart-price {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #231F20;
}

.dishes__cart-btn {
    padding: 4px 23px;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: #473E43;
    background-color: #F7D22D;
    border: none;
    border-radius: 8px;
}




.main_action {
    margin-top: 64px;
}

.main_action__title {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main_action__block {
    margin-top: 47px;
    display: flex;
    gap: 29px;
}

.big-banner {
    height: 405.5px;
}

.small-banners {
    display: flex;
    flex-wrap: wrap;
    row-gap: 27px;
    column-gap: 29px;
}

.small-banner {
    height: 189px;
    width: calc(50% - 14.5px); /* 50% минус половина column-gap */
}

.action-btn_div {
    display: flex;
    justify-content: center;
}

.all_action-btn {
    margin-top: 49px;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #F7D22D;
    border: none;
    border-radius: 23px;
}








/* Action */

.action {}

.action__title {
    margin-top: 29px;
    font-size: 30px;
    font-weight: 700;
    color: #F7D22D;
}

.action__block {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.action__cart {
    flex: 0 0 calc(33.333% - 20px); /* 3 карточки в ряд */
    opacity: 100%;
    border-radius: 14px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
}

.action__cart-img {}

.action__cart-title {
    margin: 13px 0px 0px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #0E0C0D;
}

.action__cart-text {
    margin: 7px 0px 0px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #797979;
}

.action-btn {
    margin: 20px 0px 20px 20px;
    height: 45px;
    width: 159px;
    font-size: 14px;
    font-weight: 700;
    color: #473E43;
    background-color: #F7D22D;
    border: none;
    border-radius: 8px;
}











/* Footer */

.footer {
    margin-top: 80px;
}

.footer__container {
    display: flex;
    margin: 0 auto;
    max-width: 1110px;
}

.footer__left-block {
    width: 665px;
}

.info-1,
.info-2 {
    font-size: 16px;
    font-weight: 700;
    color: #0E0C0D;
}

.info-1 {
    display: flex;
    margin-top: 8px;
    column-gap: 52px;
}

.info-2 {
    margin-top: 23px;
}

.info-3 {
    display: flex;
    margin-top: 15px;
    column-gap: 104px;
}

.info-3 h4 {
    margin: 0;
    opacity: 70%;
    font-size: 16px;
    font-weight: 600;
    color: #0E0C0D;
}

.info-4 {
    margin-top: 45px;
    opacity: 80%;
    font-size: 14px;
    font-weight: 600;
    color: #0E0C0D;
}

.footer__right-block {
    width: 445px;
}

.right-block__title {
    font-size: 14px;
    font-weight: 700;
    color: #0E0C0D;
}

.messenger_btns {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 33px;
}

.messenger_btns button {
    background-color: #FFFFFF;
    border-radius: 13px;
    border: 2px solid #E3ECF5;
}

.short-btn {
    flex: 1 0 22%;
    padding: 11px 35px 11px 36px;
    height: 52px;
    width: 101px;
}

.long-btn {
    flex: 1 0 45%;
    padding: 18px 58px 18px 59px;
    height: 52px;
    width: 216px;
    font-size: 13px;
    font-weight: 700;
    color: #0E0C0D;
}

.footer_number {
    margin-top: 47px;
    font-size: 30px;
    font-weight: 700;
    color: #F7D22D;
}

.footer__call-btn {
    margin-top: 20px;
    padding: 7px 27px;
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    color: #696F7A;
    background-color: #F3F3F7;
    border-radius: 28px;
    border: none;
}