@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
	height: 100%;
	width: 100%;
    font-family: "Montserrat", sans-serif;
}

.header {}

.header__container {
    margin: 0 auto;
    max-width: 1110px;
}

.header__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    max-height: 79px;
}

.delivery-info__upper {
    font-weight: 600;
    font-size: 17px;
}

.info-upper1 {
    color: #231F20;
}

.info-upper2 {
    color: #F7D22D;
}

.delivery-info__lower {
    display: flex;
    font-weight: 700;
    font-size: 13px;
    color: #231F20;
}

.info-lower__block1 {
    display: flex;
}

.circle {
    height: 4px;
    width: 4px;
    background: #FF2E65;
    border-radius: 50%;
}

.info-lower__block2 {
    display: flex;
}

.header__upper button {
    height: 42px;
    padding: 7px 27px;
    font-weight: 700;
    font-size: 14px;
    color: #696F7A;
    background-color: #F3F3F7;
    border: none;
    border-radius: 28px;
}

.number {
    font-weight: 700;
    font-size: 26px;
    color: #F7D22D;
}

.header__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 19px;
    max-height: 42px;
}

.menu {
    display: flex;
    padding: 0px;
    column-gap: 18px;
    list-style: none;
}

.menu a {
    font-weight: 600;
    font-size: 15px;
    color: #0E0C0D;
    text-decoration: none;
}

.header__auth-btn {
    font-weight: 700;
    font-size: 16px;
    color: #696F7A;
    text-decoration: none;
}

.cart-btn {
    height: 42px;
    padding: 7px 25px;
    font-weight: 700;
    font-size: 16px;
    color: #231F20;
    background-color: #F7D22D;
    border: none;
    border-radius: 8px;
}